<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 row-sm-height">
			<h3>Actions<h3>
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default" ng-click="toggleRadii()">{{showRadii ? "Hide radii" : "Show radii"}}</button>
			</div>
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default" ng-click="toggleBrake()">{{showBrake ? "Hide brake" : "Show brake"}}</button>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="col-xs-12">
					<ds-d3-demo dlg="visDlg" style="height:350px"></ds-d3-demo>
				</div>
				<div class="col-xs-12" >
					<site-side-d3-view dlg="sideDlg" style="height:350px"></site-side-d3-view>
				</div>
			</div>
		</div>
		<div class="col-md-3" style="border:solid 1px black;" ng-if="selected !== undefined">
			<h3>Details</h3>
			<form class="form-horizontal" accept-charset="UTF-8">
				<div class="form-group">
					<label class="col-sm-4 control-label col-sm-pad">Name:</label>
					<div class="col-sm-8 col-sm-pad">
						<p class="form-controll-static">{{selected.name}}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label col-sm-pad">Height:</label>
					<div class="col-sm-8 col-sm-pad">
						<p class="form-controll-static">{{selected.height[0]}}[{{selected.height[1]}}]</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label col-sm-pad">Front jib:</label>
					<div class="col-sm-8 col-sm-pad">
						<p class="form-controll-static">{{selected.front_radius[0]}}[{{selected.front_radius[1]}}]</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label col-sm-pad">Rear jib:</label>
					<div class="col-sm-8 col-sm-pad">
						<p class="form-controll-static">{{selected.back_radius[0]}}[{{selected.back_radius[1]}}]</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label col-sm-pad">Base:</label>
					<div class="col-sm-8 col-sm-pad">
						<p class="form-controll-static">{{base_x[0].toFixed(2)}}['m'],{{base_y[0].toFixed(2)}}['m'],{{base_z[0].toFixed(2)}}['m']</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label col-sm-pad">Angle:</label>
					<div class="col-sm-8 col-sm-pad">
						<p class="form-controll-static">{{angle[0] | radToDeg | fixed2}}['deg']</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label col-sm-pad">Hook height:</label>
					<div class="col-sm-8 col-sm-pad">
						<p class="form-controll-static">{{hook_height[0]}}['m']</p>
					</div>
				</div>
			</form>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3>Optimizer</h3>
					</div>
				</div>
				<div class="row">
					<item-d3-sweetspot dlg="spotDlg"></item-d3-sweetspot>
				</div>
			</div>
		</div>
	</div>
</div>