<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<h3>Actions<h3>
			<div class="btn-group btn-group-sm" role="group">
				<button type="button" class="btn btn-default" ng-click="changeDay()">Day:&nbsp{{day+1}}</button>
			</div>
		</div>
		<div class="col-md-10">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12" style="height:200px;">
						<proj-d3-demo dlg="visDlg"></proj-d3-demo>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<proj-d3-stats dlg="visDlg"></proj-d3-stats>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
